<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogForm.Properties.Settings.Учет_кадровConnectionString"
            connectionString="Data Source=VITPK\SQLEXPRESS;Initial Catalog=&quot;Учет кадров&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>